---
import Layout from '../layouts/Layout.astro';
import MapComponent from '../components/MapComponent.astro';
import '../styles/global.css';
import type { restaurante } from '../utils/CustomTypes';

// Fetch restaurant data on the server side
const publicBackendUrl = import.meta.env.BACKEND_URL;
const localesResponse = await fetch(`${publicBackendUrl}/restaurantes`);
const restaurants = (await localesResponse.json()) as restaurante[];

const urlParams = new URLSearchParams(Astro.url.search);
let userId = urlParams.get('userId');

---

<Layout title="VerLaCarta | Consumidor">
	<main>
		<h1>
			Bienvenido a <span class="text-gradient">VerLaCarta</span>
		</h1>
		<h2>Locales cercanos</h2>
		<MapComponent restaurants={restaurants} userId={userId} />
	</main>
</Layout>

<style>
	:global(.map-container) {
		height: 500px; /* Mantener la altura que ya tenías */
		border-radius: 15px; /* Bordes redondeados */
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
		overflow: hidden; /* Para que los bordes redondeados funcionen correctamente */
	}
</style>
