---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';

import Cart from '../components/Cart.astro';
import { OrderStatus } from '../types/types';


const url = new URL(Astro.request.url),
	localId = url.searchParams.get('id'),
	response = await fetch(`http://localhost:5001/local?id=${localId}`),
	data = await response.json(),
	localData = data[0];

console.log(data);
---

<Layout title="Restaurant">
	<main>
		<Cart />

		<h1>
			Bienvenido a <span class="text-gradient">{localData.name}</span>
		</h1>
		<ul role="list" class="link-card-grid">
			<Card
				href={`../menu?id=${localId}`}
				title="Ver la carta"
				body="Accedé a todas las opciones de platos y bebidas que tenemos disponibles."
			/>
			<Card href={`../pedido?id=${localId}`} title="Hacer pedido" body="Realizá tu pedido de la forma más fácil y efectiva." />
		</ul>
		<ul role="list" class="link-card-grid">
			<Card href="../" title="Ir a la página principal" body="Volver a VerLaCarta" />
		</ul>
	</main>
</Layout>

// TODO: Find a way to get the cart items

<!--<script define:vars={{ OrderStatus }}>-->
<!--	// Load cart items on page load-->
<!--	window.addEventListener('load', () => {-->
<!--		const cartItems = JSON.parse(localStorage.getItem('cartItems') || '[]');-->
<!--		window.updateCart(cartItems);-->
<!--	});-->
<!--</script>-->
