---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import type { Restaurante } from '../types/types'; // Asegúrate de la ruta correcta
import '../styles/global.css';
---

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<Layout title="Crear restaurante | Restaurantes">
    <main>
        <h1>
            Crea <span class="text-gradient">tu</span> restaurante
        </h1>
        <!-- <form id="create-restaurant" action="/api/crear-restaurante" method="POST" enctype="multipart/form-data"> -->
        <!-- Nombre del restaurante -->
        <div class="form-group">
            <label for="nombre">Nombre del restaurante:</label>
            <input type="text" id="nombre" name="nombre" required placeholder="Nombre del restaurante" />
        </div>

        <!-- Ubicación en el mapa -->
        <div class="form-group">
            <label for="map">Ubica tu restaurante en el mapa:</label>
            <!-- <div id="map" style="height: 300px;"></div> -->
            <div id="map" class="map-container" style="height: 500px;"></div>
        </div>

        <!-- <div class="form-group">
            <label for="latitud">Latitud:</label>
            <input type="text" id="latitud" name="latitud" readonly />
        </div>

        <div class="form-group">
            <label for="longitud">Longitud:</label>
            <input type="text" id="longitud" name="longitud" readonly />
        </div> -->

        <!-- Horarios y datos de contacto -->
        <div class="form-group">
            <label for="horarios">Descripcion</label>
            <input
                type="text"
                id="horarios"
                name="horarios"
                placeholder="Ej: Atendemos de lunes a viernes, 9am - 6pm. Nuestro telefono es 11-nnnn-nnnn."
                required
            />
        </div>

        <!-- Publicar la carta -->
        <div class="form-group">
            <label for="carta">Publicar la carta del lugar:</label>
            <textarea id="carta" name="carta" rows="5" placeholder="Describe los platos y bebidas" required></textarea>
        </div>

        <!-- Fotos y logo -->
        <div class="form-group">
            <label for="fotos">Fotos del restaurante y logo:</label>
            <input type="file" id="fotos" name="fotos" multiple />
        </div>

        <!-- Identificar las mesas -->
        <div class="form-group">
            <label for="mesas">Identificación de las mesas (para los pedidos):</label>
            <textarea id="mesas" name="mesas" rows="3" placeholder="Ej: Mesa 1, Mesa 2, etc." required></textarea>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="btn">Crear restaurante</button>
        <!-- </form> -->
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .restaurant-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    input[type='text'],
    textarea {
        padding: 0.5rem;
        border: 1px solid rgba(var(--accent-light), 50%);
        border-radius: 4px;
        background-color: rgba(var(--accent-dark), 50%);
        color: white;
        font-size: 1em;
    }

    .map-container {
        height: 500px; /* Mantener la altura que ya tenías */
        border-radius: 15px; /* Bordes redondeados */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
        overflow: hidden; /* Para que los bordes redondeados funcionen correctamente */
    }

    button {
        background-color: var(--accent-light);
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: rgba(var(--accent-light), 0.8);
    }
</style>

<script>
    import L from 'leaflet';

    document.addEventListener('DOMContentLoaded', function () {
        // Inicializar el mapa centrado en una ubicación predeterminada

        const ciudadUniversitariaCoords = [-34.541895, -58.437618] as L.LatLngExpression,
            map = L.map('map').setView(ciudadUniversitariaCoords, 15);

        // Añadir el tile layer de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);

        // Añadir un marcador al mapa
        var marker = L.marker([51.505, -0.09]).addTo(map);

        // Escuchar el evento de clic en el mapa
        map.on('click', function (e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;

            // Mover el marcador a la ubicación seleccionada
            marker.setLatLng([lat, lng]);

            // Actualizar los campos de latitud y longitud
            // document.getElementById('latitud').value = lat;
            // document.getElementById('longitud').value = lng;
        });
    });
</script>
