---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<Layout title="Crear restaurante | Restaurantes">
    <main>
        <h1>
            Crea <span class="text-gradient">tu</span> restaurante
        </h1>
        <form id="create-restaurant" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre del restaurante:</label>
                <input type="text" id="nombre" name="nombre" required placeholder="Nombre del restaurante" />
            </div>

            <div class="form-group">
                <label for="map">Ubica tu restaurante en el mapa:</label>
                <div id="map" class="map-container" style="height: 500px;"></div>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input
                    type="text"
                    id="descripcion"
                    name="descripcion"
                    placeholder="Ej: Atendemos de lunes a viernes, 9am - 6pm. Nuestro telefono es 11-nnnn-nnnn."
                    required
                />
            </div>

            <div class="form-group">
                <label for="carta">Publicar la carta del lugar:</label>
                <div id="platos-container" class="platos-container">
                    <div class="plato-item">
                        <input type="text" name="platoNombre[]" placeholder="Nombre del plato" required />
                        <input type="number" name="platoPrecio[]" placeholder="Precio" required />
                        <button type="button" class="remove-plato-btn">Eliminar</button>
                    </div>
                </div>
                <button type="button" id="add-plato-btn">Agregar otro plato</button>
            </div>

            <button type="submit" class="create-restaurante-btn">Crear restaurante</button>
        </form>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .restaurant-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    input[type='text'],
    textarea {
        padding: 0.5rem;
        border: 1px solid rgba(var(--accent-light), 50%);
        border-radius: 4px;
        background-color: rgba(var(--accent-dark), 50%);
        color: white;
        font-size: 1em;
    }

    .map-container {
        height: 500px; /* Mantener la altura que ya tenías */
        border-radius: 15px; /* Bordes redondeados */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
        overflow: hidden; /* Para que los bordes redondeados funcionen correctamente */
    }

    button {
        background-color: var(--accent-light);
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: rgba(var(--accent-light), 0.8);
    }

    /* Agregar platos al menú */
    .plato-item {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
    }
    .plato-item input {
        padding: 0.5rem;
        width: 100%;
        max-width: 250px;
    }
    .remove-plato-btn {
        padding: 0.5rem;
        background-color: red;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #add-plato-btn {
        background-color: green;
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<script>
    import L from 'leaflet';

    // Variables
    const form = document.getElementById('create-restaurant') as HTMLFormElement;
    const platosContainer = document.getElementById('platos-container');
    const addPlatoBtn = document.getElementById('add-plato-btn');
    let selectedLocation: L.LatLng | null = null;
    let currentMarker: L.Marker | null = null;
    interface Plato {
        nombre: string;
        precio: string;
    }

    // Función para agregar un nuevo plato
    addPlatoBtn?.addEventListener('click', () => {
        const newPlato = document.createElement('div');
        newPlato.classList.add('plato-item');
        newPlato.innerHTML = `
            <input type="text" name="platoNombre[]" placeholder="Nombre del plato" required />
            <input type="number" name="platoPrecio[]" placeholder="Precio" required />
            <button type="button" class="remove-plato-btn">Eliminar</button>
        `;
        platosContainer?.appendChild(newPlato);

        // Agrega evento para eliminar el plato
        newPlato.querySelector('.remove-plato-btn')?.addEventListener('click', function () {
            newPlato.remove();
        });
    });

    const ciudadUniversitariaCoords = [-34.541895, -58.437618] as L.LatLngExpression,
        map = L.map('map').setView(ciudadUniversitariaCoords, 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    map.on('click', function (e: L.LeafletMouseEvent) {
        selectedLocation = e.latlng; // Guarda la latitud y longitud

        // Si ya hay un marcador, eliminarlo del mapa
        if (currentMarker) {
            map.removeLayer(currentMarker);
        }

        // Crear un nuevo marcador en la ubicación seleccionada
        currentMarker = L.marker(selectedLocation).addTo(map);

        // Asociar el popup al nuevo marcador
        currentMarker.openPopup();
    });

    // Manejar el envío del formulario
    form?.addEventListener('submit', async (e) => {
        e.preventDefault(); // Evita el envío del formulario por defecto

        const nombreInput = document.getElementById('nombre') as HTMLInputElement;
        const descripcionInput = document.getElementById('descripcion') as HTMLInputElement;

        // Crear un objeto para almacenar los datos del restaurante
        const restaurantData = {
            nombre: nombreInput?.value,
            latitud: String(selectedLocation?.lat),
            longitud: String(selectedLocation?.lng),
            descripcion: descripcionInput?.value,
            platos: [] as Plato[],
        };

        // Seleccionar todos los elementos de entrada de platos
        const platoItems = document.querySelectorAll('.plato-item');

        platoItems.forEach((item) => {
            const nombreInput = item.querySelector('input[name="platoNombre[]"]') as HTMLInputElement;
            const precioInput = item.querySelector('input[name="platoPrecio[]"]') as HTMLInputElement;

            const nombre = nombreInput.value;
            const precio = precioInput.value;

            restaurantData.platos.push({ nombre, precio });
        });

        console.log(restaurantData);

        // Envía los datos al servidor
        fetch('http://localhost:5001/crear-restaurante', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(restaurantData),
        })
            .then((response) => response.json())
            .then((data) => console.log('Success:', data))
            .catch((error) => console.error('Error:', error));
    });
</script>
