---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import type { Restaurante } from '../types/types';
import '../styles/global.css';

const urlParams = new URLSearchParams(Astro.url.search);

let restaurantes = [];
const responseRestaurante = await fetch(`http://localhost:5001/Restaurante`);
restaurantes = await responseRestaurante.json();
console.log(restaurantes);
console.log("EEEEEE")
---

<Layout title="VerLaCarta | Restaurantes">
	<main>
		<h1>
			Bienvenido a <span class="text-gradient">VerLaCarta</span>
		</h1>
		<ul role="list" class="link-card-grid">
			<Card href="./createResto" title="Crear restaurante" body="Crea y personaliza tu propio restaurante." />
		</ul>
		<h2>
			<span class="text-gradient">Restaurantes</span> disponibles:
		</h2>
		<ul role="list" class="link-card">
			{
				restaurantes.map((restaurante: Restaurante) => (
					<li class="link-card">
						<Card
							href={`/comandas?id=${restaurante.restaurant_id}`}
							title={restaurante.restaurant_name}
							body={restaurante.description || 'Descripción no disponible.'}
						/>

						{/* <a href={`/index?id=${restaurante.id}`}>
							<h2>
								{restaurante.name}
								<span>&rarr;</span>
							</h2>
							<p>{restaurante.description || 'Descripción no disponible.'}</p>
						</a> */}
					</li>
				))
			}
		</ul>
		{restaurantes.length === 0 && <p>No hay restaurantes registrados.</p>}
	</main>
</Layout>

<style>
	.link-card {
		list-style: none; /* Elimina el punto de los ítems de la lista */
		padding: 10px;
	}
</style>
